* {
  margin: 0;
}

.header {
  background-color: lightblue;
  background-image: url(../img/pattern.png);
}

.container {
  width: 1024px;
  margin-left: 200px;
}

.immagini {
  margin-top: 20px;
}

.logo {
  width: 250px;
  margin-top: 30px;
}

h1 {
  margin-top: 20px;
  font-size: 30px;
}

.autore {
  color: grey;
  font-size: 17px;
}

.data {
  color: grey;
  font-size: 10px;
}

.booleaner {
  color: lightblue;
}

.didascalia {
  font-size: 13px;
}

.evidenziato {
  background-color: yellow;
}

.lorem {
  margin-top: 25px;
  font-size: 15px;
}
thead {
  background-color: blue;
  border-spacing: 0px;
  color: white;
}

.terza-colonna {
  width: 50%;
}

th {
  text-align: left;
}

table {
  margin-top: 25px;
}

.riga-blu {
  background-color: lightblue;
}
